################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuizzNoGood.Tests/obj
/QuizzNoGood.Tests/bin/Debug/net5.0
/Quizz/.config/dotnet-tools.json
