/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#test {
    border:dashed;
    border-color:aquamarine;
}


.Button {
    background: transparent;
    border: none;
    background-image: url('../src/Illustration_resized.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center;
    padding: 5%;
    padding-top: 0.75%;
    padding-bottom: 2%;
    Width: 50%;
}


.Button a {
	color: white;
	text-decoration: none;
}

#Menu {
    display: flex;
    flex-direction: row;
    width:50%;
    border: dashed;
    border-color: aquamarine;
}

.Button:hover {
    color: white;
    text-decoration: none;
    text-shadow: rgb(255,255,255) 5px 5px 5px;
}

.Form {
    padding:10%;
}

#Return {
    padding-top: 0.5%;
}

body {
    background-color: #A92B30;
    text-align:center;
    color:white;
} /* TODO Ne prend pas le header/prend le footer*/


.Button_submit {
    background: transparent;
    border: none;
    background-image: url('../src/Illustration_resized.png') ;
    background-size: cover;
    /*
    padding: 15%; /*important
    font-size: 100%; /*important
    */
    color: white;
    text-decoration: none;
    display: inline-block;
}



img.Logo {
    align-self:center;
    width:50%;
    height:50%;
}

.flex {
    flex-wrap: wrap;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*body {
  /* Margin bottom by footer height 
  margin-bottom: 60px;
}*/

.footer {
  position: absolute;
  color:white;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
