@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div>
        <a asp-area="" asp-page="/Profil" class="Button">Profil</a>
        
        <h1 class="display-4">Welcome</h1>

        <form asp-controller="Home" asp-action="WaitingHub" asp-route-isJoin="true" method="post">
            @Html.TextBox("idGame")
            <button type="submit">Rejoindre un Quiz</button>
        </form>
        
        <div class="flex">
            <img src="/media/Logo_ Projet.png" class="Logo" alt="" />

            <div>
                Difficultés <br/>
                    <button>Facile</button>
                    <button>Moyen</button>
                    <button>Difficile</button>
            </div>

            <a asp-area="" asp-controller="Home" asp-action="WaitingHub"class="Button">A Timer</a>
            <!--<a asp-area="" asp-page="/Themes" class="Button">B Theme</a>-->
            <!--<a asp-area="" asp-page="/WaitingHub" class="Button">C Mort Subite</a>-->
        </div>
    </div>
</body>