@model IndexViewModel
@{
ViewData["Title"] = "Home Page";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
<div>
    <div id="Menu" class="container-fluid">
        @if (Model.IsConnected)
        {
            <div Class="Button">
                <a asp-area="" asp-controller="Home" class="btn btn-primary" asp-action="Profil">Profil</a>
            </div>
            <div Class="Button">
                <a asp-area="" asp-controller="Home" class="btn btn-primary" asp-action="Index" asp-route-isDeconnexion="1">Deconnexion</a>
            </div>

        }
        else
        {
            <div Class="Button">
                <a asp-area="" asp-controller="Home" class="btn btn-primary" asp-action="Inscription">Inscription</a>
            </div>

            <div Class="Button">
                <a asp-area="" asp-controller="Home" class="btn btn-primary" asp-action="Connection">Connexion</a>
            </div>
        }
    </div>
    

        <br />

        <div class="container-sm">
            <a asp-area="" asp-controller="Home" class="btn btn-primary" asp-action="GoToWaitingHub" asp-route-isJoin="0">Créer un Quiz</a>

            <form asp-controller="Home" asp-action="GoToWaitingHub" asp-route-isJoin="1" method="post">
                @*@Html.TextBox("idGame")*@
                <div class="input-group mb-3">
                    <input asp-for="GameId" type="text" class="form-control" placeholder="Numéro de partie"
                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button type="submit" class="input-group-text btn btn-primary" id="basic-addon2">Rejoindre un Quiz</button>
                </div>

                <!-- <button type="sumbit" class="btn btn-primary">Rejoindre un Quiz</button> -->

            </form>
        </div>

        <div class="flex">
            <img src="/src/Logo_ Projet.png" class="img-fluid" class="Logo" alt="" />

            <div>
                <p class="fs-5 ">Difficulté</p>
                <button class="btn btn-secondary">Facile</button>
                <button class="btn btn-secondary">Moyen</button>
                <button class="btn btn-secondary">Difficile</button>
                <br />
                <br />
            </div>

            <div id="Menu" class="container ">
                <div Class="Button d-grid gap-2">
                    <a asp-area="" asp-controller="Home" class="btn btn-primary btn-lg" asp-action="GoToWaitingHub" asp-route-isJoin="0" asp-route-isTimed="1">Créer un Quiz Timé</a>
                    <a asp-area="" asp-controller="Home" class="btn btn-primary btn-lg" asp-action="GoToWaitingHub" asp-route-isJoin="0" asp-route-isTimed="0" asp-route-isDeathMatch="1">Créer un Quiz Death Match</a>
                    <a asp-area="" asp-controller="Home" class="btn btn-primary btn-lg" asp-action="GoToWaitingHub" asp-route-isJoin="0" asp-route-isTimed="0">Créer un Quiz Classique</a>
                </div>
            </div>

            <!--<a asp-area="" asp-page="/Themes" class="Button">B Theme</a>-->
            <!--<a asp-area="" asp-page="/WaitingHub" class="Button">C Mort Subite</a>-->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
</body>