@model InscriptionViewModel
@{
    ViewData["Title"] = "Inscription";
}

<body>
    <div class="container">
        <script src="/js/error.js" idInfo="@Model.ErrorCode"></script>

        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" id="Return">Retour</a>
        <div class="container d-flex justify-content-center">
            <form method="post" class="Form col-lg-6">

                <div class="form-floating mb-3">
                    <input asp-for="Login" type="text" class="form-control" name="login" id="login" maxlength="18" placeholder="Username" required>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Mot de passe"><br />
                </div>
                <div class="form-floating">
                    <input asp-for="RepeatedPassword" type="password" name="repeatedPassword" class="form-control" id="confPassword" placeholder="Confirmer le mot de passe" required><br />
                </div>

                <input type="submit" value="Valider" class="btn btn-primary" asp-controller="Home"
                       asp-route-isInscription="1"
                       asp-action="Index" />
            </form>
        </div>
</body>