@model InscriptionViewModel
@{
    ViewData["Title"] = "Inscription";
}

<body>
    <div class="container">

        <a asp-area="" asp-page="/Index" class="Button">Return</a>
        <form method="post" class="Form" id="inscriptionForm">
            <label for="login">Pseudo</label>
            <input asp-for="Login" type="text" name="login" id="login" maxlength="18" required />
            <label for="password">Mot de passe</label>
            <input asp-for="Password" type="password" name="password" id="password" required/>
            <label for="repeatedPassword">Confirmer le mot de passe</label>
            <input asp-for="RepeatedPassword" type="password" name="repeatedPassword" id="confPassword" required />

            <input type="submit" value="Valider" class="Button_submit" asp-controller="Home"
                   asp-action="UserInscription" />
        </form>
    </div>
</body>