@model InscriptionViewModel
@{
    ViewData["Title"] = "Inscription";
}

<body>
    <div>

        <a asp-area="" asp-controller="Home" asp-action="Index" class="Button" id="Return">Retour</a>
        <form method="post" id="test" class="Form">
            <label for="login">Pseudo</label>
            <input asp-for="Login" type="text" name="login" id="login" maxlength="18" required /> <br/>
            <label for="password">Mot de passe</label>
            <input asp-for="Password" type="password" name="password" id="password" required/> <br />
            <label for="repeatedPassword">Confirmer le mot de passe</label>
            <input asp-for="RepeatedPassword" type="password" name="repeatedPassword" id="confPassword" required /> <br />

            <input type="submit" value="Valider" class="Button_submit" asp-controller="Home"
                   asp-route-isInscription="1"
                   asp-action="Index" />
        </form>
    </div>
</body>