@{
    ViewData["Title"] = "Inscription";
}

<body>
    <div class="container">

        <a asp-area="" asp-page="/Index" class="Button">Return</a>

        <label for="login">Pseudo</label>
        <input type="text" name="login" id="login" maxlength="18" required />
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required />
        <label for="confPassword">Confirmer le mot de passe</label>
        <input type="password" name="confPassword" id="confPassword" minlength="4" required />

        <input type="submit" value="Valider" class="Button_submit" />

    </div>
</body>