@{
    ViewData["Title"] = "Profil";
}

<body>
    <div>
        <!-- 2 possibilités soit personne est connecté donc atterrissage page ci dessous-->
        <!-- soit pas connecté donc affichage avec Creer un compte pseudo+mdp-->
        <!--Pages Inscription et Connection-->
        <div class="Button">
            <a asp-area="" asp-controller="Home" asp-action="Index">Retour</a>
        </div>

        <div class="Form">
            Pseudo: <br />
            <br />
            <button>Changer le mot de passe</button>
        </div>
    </div>
</body>