@model WaitingHubViewModel
@{
    ViewData["Title"] = "Salle d'attente";
}

<body>







</body>

<h1>Identifiant de la partie : </h1>

<!-- PAS VIRER en dessous-->
<h1 id="idgame">@Model.Id</h1>

<a asp-controller="Home" asp-action="GameView" asp-route-gameId="@Model.Id" method="post">lancer la partie</a>

<div id="playerlist">

</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="/js/waitinghub.js"></script>